#create_game_page
  %div{:id => 'slider'}

  .game_container

    .create_board_svg_container
      #toolbar
      = form_tag games_path, id: "accept_board", method: :post do
        = submit_tag "Accept Map and Create Game", id: "accept_map_button", class: "hidden_accept"
      %button.generate_map{type: "button", id: 'generate_map'} Generate Map
      .games.new
:javascript
  $(document).ready( function() {
    $('#generate_map').on("click", function(){
      if($('#accept_map_button').hasClass('hidden_accept')) {
        console.log("HELLO!")
        $('#accept_map_button').removeClass('hidden_accept');
      }
    });
  });
