#game_page
  #landmark_modal
    .header
      %h3 Raise a Landmark
    %form{action: '/landmark/', method: 'POST', id: 'create_landmark'}
    .txt
      %label{for: "Name"} Landmark Name:
      %input#landmark_name{name: "", type: "text"}
    .txt
      %label{for: "description"} Description:
      %input#landmark_description{name: "", type: "text"}
    .tile_info_field
      %input#tile_info{ type: "hidden" }
    .btn.clearfix
      %a.close{href: "#"} Mark the Land!
      %a.close.cancel{href: "#"} Cancel
  #left_panel_wrapper
    =render "side_panel"

  .play_game_svg_container
    .games.play{id: @game.id}
  .chronicle_id_container{id: @game.chronicle.id}

