<div class="Tutorial">
  <h1>Worlds of My Creation</h1>
  <ul>
    <% current_user.games.each do |game| %>
    <li><%= link_to game.world_name, game.slug, method: 'get'%></li>
    <% end %>


  </ul>




</div>
