
.create_board_svg_container {
  border: 1px solid #000;
  width: 1000px;
  height: 750px;
  overflow: scroll;
  margin: 20px auto;
  background: #000;
  padding: 0;
}

svg {
  height: 500px;
  width: 500px;
  padding: 40px;
}

.create_toolbar {
  width: 600px;
}

.hidden_accept {
  visibility: hidden;
}

#accept_map_button {
  height: 50px;
}
