#toolbar {
  border: 1px solid black;
  width: 440px;
}

#toolbar div {
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 5px 20px;
  text-decoration: none;
  display: inline-block;
}

.svg_container {
  border: 1px solid #000;
  width: 1000px;
  height: 750px;
  overflow: scroll;
}

svg {
  height: 1000px;
  width: 1000px;
  padding: 40px;
}


