#game_page {
  width: 1480px;
  margin: 15px auto 0 auto;
}

#left_panel_wrapper {
  height: 800px;
  width: 300px;
  float: left;
  border-bottom: 1px solid #fff;
  background: #fff;
}

#left_panel_top {
  height: 40%;
  width: 100%;
  background: #333;
}


#left_panel_middle {
  height: 20%;
  width: 100%;
  border-top: 1px solid #000;
  background: #333;
}



/* TABS */
.tabs {
  position: absolute;
  clear: both;
  padding-top: 11px;
  overflow: hidden;
  width: 300px;
}
#tabs_top {
  height: 310px;
}

#tabs_middle {
  height: 149px;
}

.tab {
  float: left;
}

.tab label {
  background: rgb(98,125,77);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1)));
  background: -webkit-linear-gradient(top, rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%);
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}

.tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: url("button.jpg") top left;
}


[type=radio]:checked ~ label {
  background: rgb(98,125,77);
  border-bottom: 1px solid white;
  z-index: 2;
  color: #ddd;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}


#left_panel_bottom {
  height: 310px;
  width: 289px;
  border: 1px inset #000;
  background: url("button.jpg") top left;
  padding: 5px;
}



.play_game_svg_container {
  border: 1px solid #000;
  width: 1178px;
  height: 800px;
  overflow: scroll;
  background: #000;
}

svg {
  height: 3000px;
  width: 3000px;
  padding: 40px;
}

#toolbar {
  border: 1px solid black;
  width: 298px;
}

#toolbar div {
  border: 1px solid black;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 5px 20px;
  text-decoration: none;
  display: inline-block;
}

#other_tool {
  border: 1px solid black;
  width: 298px;
  height: 200px;
}

#another_tool {
  border: 1px solid black;
  width: 298px;
  height: 200px;
}

#round {
  background: #ddd;
  width: 100%;
  padding: 4px;
  margin: 0;
}

#current_round {
  font-size: 21px;
}

#round p {
  margin: 0;
  padding: 0;
}

#points p {
  margin: 0;
  padding: 5px;
  background: #aaa;
}

#points ul {
  list-style-type: none;
  padding: 0 0 0 5px;
  margin: 5px 0 0 0;
  overflow-y: scroll;
  border: 1px solid #000;
  height: 100px;
}

#chronicle {

}

