html {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.title {
  color: #000;
  text-shadow: 1px 1px 1px #fff, 3px 3px 5px #888;
  font-family: 'MedievalSharp', cursive;
  font-size: 90px;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  box-shadow: inset 2px 2px 22px 2px black;
  background: rgb(125,126,125);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1)));
  background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%);
}

.frontContainer form{
  height: auto;
}

#canvas {
  margin: 0 auto;
}

#main_page {

}
.enter {
  color: #222;
  text-shadow: 1px 1px 1px #999, 3px 3px 5px #888;
  background: url("button.png") no-repeat;
  margin: 0 auto;
  display: block;
  width: 447px;
  height: 460px;
  font-size: 46px;
  box-shadow: 4px 4px 152px black;
  outline: none;
  cursor: pointer;
  border-radius: 250px;
  border: 5px solid #56789a;
}

.enter:active{
  box-shadow: 0px 0px 0px white;
}

svg{
  border: 1px solid black;
}

#toolbar {
  float: left;
  border: 1px solid black;
}

#toolbar div{
  border: 1px solid black;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 5px 20px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
}
