<div class="tutorial">
  <h2>Main Game Page</h2>
  <p>Yay! Time for some world-building! Take turns adding features to your world. To add a something you see in the toolbar, simply click on it then click (or click and drag) on the map. Remember though, you're only allocated so many points per turn (for now a random 2d6). Spend them wisely.
  Satisfied with the state of things? Use the 'History' field to record a description of your work for posterity!<p>

  <p>Click the 'End Turn' button itself to (temporarily) relinquish control. Don't worry your nefarious doings will be accessible through the Great Chronicle.</p>

  <p>So what about that Chronicle? What makes it great?</p>

  <p>If your infallible memory should fail, the Chronicle not only records the descriptions you provided at the end of each turn, it lets you visit THE WORLD AS IT WAS. Click the link to see what I mean.</p>
</div>
