<div>
  <h2>Welcome to the WORLD AS IT WAS</h2>
  <p>See the map? Yep, that how thing's stood at the end of your turn all those eons ago. Crazy, right? Sh*t had the nerve to still exist. Time for the coolest part of all. Go ahead... generate that 3D map! Reality is for suckers.</p>
</div>
