<div class="tutorial">
  <h2>Map Generation</h2>
  <p>This is the map generation page. If you are the deity chosen to breathe form into the void, click the 'generate map' button and marvel at your watery creation. Dry is land is overrated, right? If you agree, go ahead and click 'accept map'. Otherwise, play with the tools a bit and decide what the world will look like before your friends (nemeses?) get their first crack at it.<p>

  <p>Done? Took you long enough. OK, this is a bit confusing, so pay attention. After clicking 'accept map', copy the url in the address bar, and send it to the other deities via the chat.<p>

  <p>Other Deities: paste that url into your respective address bars and head over to the game lobby.</p>
<div>
