<div class="tutorial">
  <h2>Welcome to Cartogenesis!</h2>
  With the help (hindrance?) of your fellow deities, you will craft a brave new world that can serve as the backdrop for a Dungeons & Dragons-style tabletop adventure! You'll get out of this what you put into it, so have fun and sweat the details!

  Sign in and sign up to create a map. Before moving on, use the chat feature to decide who will create the game. That person alone is free to experiment on the next page. The rest of you need to wait a bit.
</div>
