<div class="tutorial">
  <h2>Game Lobby</h2>
  <p>So his/her highness finally finished, huh? Don't worry. You'll be able to 'congratulate' them soon enough. For now, fill in the field with your character's name and click 'join'.</p>
</div>
